*{
margin:0;
padding:0;
font-family:Avenir;
}

html{
font-size:10px;
}

body{
color:#626973;
background-color:#F1F1F2;
width:100vw;
}

a{
text-decoration:none;
color:#626973;
}

ul, li{
list-style:none;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

h3{
font-size:50px;
margin:50px auto;
}

footer{
  height:20vh;
  text-align:center;
  background-color:#06081B;
  color:#FCF5DB;
  font-size:2vh;
  line-height:20vh;
}

.is_active{
display:none;
}

.selected{
  color:#06081B;
}

/* background-colors */
.b_b{
background-color:rgba(0,0,0,0.6);
height:100vh;
}
.b_w{
background-color:white;
}

/* font-colors */
.f_b{
color:black;
}
.f_w{
color:white;
}

/* icon-size */
.maru{
height:100px;
width:100px;
border-radius:50%;
}
.shikaku{
height:100px;
width:100px;
border-radius:10%;
}


