.header_box{
  height:100vh;
  background-size:cover;
  background-position:center;
}

.header_h{
  color:#FCF5DB;
  margin:35vh auto;
  text-align:center;
  height:30vh;
}

h1{
  font-size:10rem;
  margin-bottom:2rem;
}

.header_h-sub{
  font-size:4rem;
  border:solid 0.3rem #FCF5DB;
  width:fit-content;
  margin:0 auto;
  padding:0.1rem 1rem;
}

.header_sns ul {
  display:flex;
  padding:0;
  justfy-content:center;
  margin-top;1vh;
}

.icon_sns{
  border-radius:50%;
  height:2.5rem;
  width:2.5rem;
  margin:0 10px;
}

.section{
  margin:0 auto;
}

.section_name{
  text-align:center;
  font-size:4rem;
  font-weight:300;
  margin:3rem auto;
}

.genre{
  margin:0 auto;
  width:80%;
  text-align:center;
}

.small_box{
  display:inline-block;
  width:45%;
  margin-bottom:5rem;
}

.genre_name{
  font-size:2rem;
  border-bottom:solid #626973 0.1rem;
  text-align:center;
}

.title{
  font-size:2rem;
  margin:1rem auto;
  text-align: center;
}

.desc{
  font-size:1.2rem;
  width:90%;
  margin:0 auto;
}

#work_item{
  font-size:2rem;
}

@media screen and (max-width:480px) {
  html{font-size:10px;}

  h1 {
    font-size:7rem;
  }

  .header_h-sub{
    font-size:2rem;
  }
}
