{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="keywords" content=",,,">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Teyoung Hong</title>
  <!-- BootstrapのCSS読み込み -->
  <link href="{% static "common/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "css/base.css" %}" rel="stylesheet">
  <link href="{% static "css/main.css" %}" rel="stylesheet">
  <!-- jQuery読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- BootstrapのJS読み込み -->
  <script src="{% static "common/bootstrap.min.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
</head>
<body>
  <div class="container-fluid header_box" style="background-image:url({% static 'post/icon_ny1.png' %})">
  <div class="row header_back b_b" id="bb">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 header_h">
      <h1 id="head_word">Teyoung Hong</h1>
      <div class="header_h-sub">A Korean Born in Japan.</div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<div class="main_box">
    <div class="section skills">
      <p id="skills" class="section_name">skills</p>
      <div id="genre" class="genre programming is_active">
	<p class="genre_name">Programming</p>
	{% for p in s_p %}
        <div class="small_box">
	  <div class="title {{ p.title }}">{{ p.title }}</div>
	  <div class="desc">{{ p.desc }}</div>
        </div>
	{% endfor %}<!-- for p in s_p -->
      </div>
      <div id="genre2" class="genre languages is_active">
	<p class="genre_name">Languages</p>
        {% for l in s_l %}
        <div class="small_box">
	  <div class="title {{ l.title }}">{{ l.title }}</div>
	  <div class="desc">{{ l.desc }}</div>
        </div>
	{% endfor %}<!-- for l in s_l -->
      </div>
    </div>
    <div  class="section work">
      <p id="work" class="section_name">work</p>
      <div id="work_item" class="is_active  genre">
        Coming soon...
      </div>
    </div>
</div>
<footer>
  This website is made by Teyoung Hong.
</footer>
</body>
</html>
