{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130548866-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130548866-3');
  </script>
  <meta charset="utf-8">
  <meta name="keywords" content="TeyoungHong, Teyoung, Hong, portfolio, website">
  <meta name="description" content="Teyoung Hong(洪泰英)のポートフォリオ。website制作依頼・通訳依頼はいつでも可能です。">
  <meta name="viewport" content="width=device-width,initial">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Teyoung Hong</title>
  <!-- BootstrapのCSS読み込み -->
  <link href="{% static "common/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "css/base.css" %}" rel="stylesheet">
  <link href="{% static "css/main.css" %}" rel="stylesheet">
  <!-- jQuery読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- BootstrapのJS読み込み -->
  <script src="{% static "common/bootstrap.min.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
</head>
<body>
<div class="container-fluid header_box" style="background-image:url({% static 'post/icon_ny1.png' %})">
  <div class="row header_back b_b" id="bb">
    <div class="col-lg-8 header_h">
      <h1 id="head_word">Teyoung Hong</h1>
      <div class="header_h-sub">A Korean Born in Japan.</div>
      <div class="header_sns">
        <ul>
	  <li class="icon_sns"><a href="https://www.facebook.com/steve.hong.1612"><img src="{% static 'post/icon_facebook.png' %}" alt="Teyoung Hong"></a></li>
	  <li class="icon_sns"><a href="https://www.instagram.com/teyounghong/"><img src="{% static 'post/icon_instagram.png' %}" alt="Teyoung Hong"></a></li>
	  <li class="icon_sns"><a href="#"><img src="{% static 'post/icon_gmail.png' %}" alt="Teyoung Hong"></a></li>
	  <li class="icon_sns"><a href="https://twitter.com/teyon2310"><img src="{% static 'post/icon_twitter.png' %}" alt="Teyoung Hong"></a></li>
	  <li class="icon_sns"><a href="https://github.com/Teyoung-Hong"><img src="{% static 'post/icon_github.png' %}" alt="Teyoung Hong"></a></li>
	  <li class="icon_sns"><a href="https://www.youtube.com/watch?v=I2qzLeLUrMw&t=13s"><img src="{% static 'post/icon_youtube.png' %}" alt="Teyoung Hong"></a></li>
	</ul>
      </div>
    </div>
  </div>
</div>
<div class="main_box">
    <div class="section skills">
      <p id="skills" class="section_name">skills</p>
      <div id="genre" class="genre programming is_active">
	<p class="genre_name">Programming</p>
	{% for p in s_p %}
        <div class="small_box">
	  <div class="title {{ p.title }}">{{ p.title }}</div>
	  <div class="desc">{{ p.desc }}</div>
        </div>
	{% endfor %}<!-- for p in s_p -->
      </div>
      <div id="genre2" class="genre languages is_active">
	<p class="genre_name">Languages</p>
        {% for l in s_l %}
        <div class="small_box">
	  <div class="title {{ l.title }}">{{ l.title }}</div>
	  <div class="desc">{{ l.desc }}</div>
        </div>
	{% endfor %}<!-- for l in s_l -->
      </div>
    </div>
    <div  class="section work">
      <p id="work" class="section_name">work</p>
      <div id="work_item" class="is_active  genre">
        Coming soon...
      </div>
    </div>
</div>
<footer>
  This website is made by Teyoung Hong.
</footer>
</body>
</html>
